# Core dependencies
torch
fastapi
uvicorn
pillow
trimesh
pyyaml

# Hugging Face dependencies
diffusers
transformers

# Additional dependencies that might be needed by hy3dgen
numpy

# Demo only
torch>=2.1.0
trimesh
Pillow
fastapi
uvicorn
numpy
rembg
onnxruntime
#gevent
#geventhttpclient
PyYAML>=6.0